.*
!.gitignore
!.prettierrc
!.prettierignore
!.yarnrc*
!.claude-plugin

node_modules

# Build output
/dist
/packages/**/dist

# Local files
/archive
/docs/agents
/plans
/presentation
/research

# Temporary files
*.tmp
*.swp
*~

# TEMP
/docs/*
!/docs/README.zh-CN.md
!/docs/CHANGELOG.zh-CN.md
/guides
/openspec
/standards
